/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 50px;
}

.background-img {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
}

.banner-text {
    color: #FFF;
    text-align: center;
    align-items: center;
    padding: 180px 344px 177px 344px;
}

.banner-text p {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.banner-text h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

#discount .container {
    text-align: center;
}

#discount .container .section-heading h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#discount .container .section-content h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 48px;
    padding-bottom: 16px;
}

#discount .container .section-content h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}

#discount .container .section-img {
    padding-bottom: 120px;
}

.background-party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
}

#midnight {
    padding-bottom: 120px;
}

.party {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 88px;
}

.party-text * {
    margin-bottom: 32px;
}

.party-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 120px;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 126px;
}

.party-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #070211;
    margin-left: 135px;
    cursor: pointer;
}

.party .party-img img {
    width: 300px;
    padding-right: 160px;
}

.Join-Now {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 80px;
    padding-bottom: 110px;
}

.join-text {
    padding-bottom: 48px;
}

.Join-Now .title-color {
    color: #F00;
}

.Join-Now button {
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background: #F00;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    border: solid 1px;
    cursor: pointer;
}

#portfolio .portfolio-text h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* #portfolio .portfolio-text{
    margin-right: 564px;
} */
#portfolio .portfolio-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#portfolio .portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#portfolio .portfolio-img .top-img {
    margin-top: 48px;
    margin-bottom: 24px;
}

#portfolio .portfolio-img .top-img,
.button-img {
    display: flex;
    gap: 24px;

}

#portfolio .img-hovar:hover {
    transform: scale(1.1);
}


#subscribe .background {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
    justify-content: center;
    padding-bottom: 104px;
}

#subscribe .container .subscribe-img img {
    height: 150px;
}

#subscribe .container .title {
    padding: 0 212px;
    padding-bottom: 48px;
}

#subscribe .container .title h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#subscribe .container .title p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#subscribe .container .email {

    text-align: center;
    display: flex;
    justify-content: center;
    background: #FFF;
    border-radius: 50px;
    margin: 0 336px;
    padding-left: 40px;

}

input {
    width: 400px;
    height: 72px;
    border: 0;
}

button {
    background: #F00;
    color: white;
    border: 0;
    width: 210px;
    height: 72px;
    border-radius: 0 50px 50px 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

#footer {
    background-color: black;
}

#footer .contact-text {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 58px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;/
}

#footer .contact-text .contact-text-right .logo-img {
    display: flex;
    gap: 10px;
    line-height: 1.6;
}

#footer .contact-text .contact-text-right .logo {
    width: 24px;
    padding-top: 8px;
    height: 24px;
}

.hr {
    border: .2px solid rgb(54, 50, 50);
}

#footer .container .social-logo {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 48px 0;
}

#footer .container .copy-right {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 80px;
    padding-bottom: 58px;
    line-height: 1.6;
}